*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.part{
  display: inline-block;
}
.part div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.part div a{
  padding: 5rem;
  background: red;
}